<%- include('./partials/header') %>
  <body class="dashboard">
    <%# <header>
      <div class="logo">
        <img class = "logo-image" src="/img/logo1.jpg" alt="">
      </div>
      <nav>
        <div class="glyphicon glyphicon-menu-hamburger">
        </div>
      </nav>%>
      <nav class="navbar navbar-default">
        <div class="logo container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="" href="#"><img class = "logo-image" src="/img/logo1.jpg" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class=""><a href="/">Home</a></li>
              <li class=""><a href="/dashboard">Dashboard</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="dashboard">
      <div class="dashboard-content container-fluid row">
        <div class="column-left hidden-xs hidden-sm col-md-4">
          <div class="full-name ">
            <img src="" alt="" class="profile-photo">
            <h3>Full Name</h3>
            <span class="username">@username</span>
          </div>
          <div class="trending">
            <h3>Trending Awe Tweets</h3>
            <div class="trending-list">
              <ul class="trending-titles">
                <li>Things</li>
                <li>WinterIsHer</li>
                <li>TumpIsALump</li>
                <li>BetterGetThotcheckedUSA</li>
                <li>Node8inApril</li>
                <li>EllenGoveEverybodyAthing</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="column-right col-xs-12 col-md-8 ">
          <div class="tweet-form">
            <form class="" action="/dashboard" method="post">
              <div class="form-group">
                <label for="comment"><span class="username">username</span></label>
                <textarea class="form-control" name="userTweet" rows="5" id="comment" maxlength="255"></textarea>
                <input class="btn pull-right" type="submit" name="submit" value="Submit">
              </div>
            </form>
          </div>



          <%if(tweetHistory.tweetHistory){
              let t = tweetHistory.tweetHistory;
              // sort the array based on length
              t.sort(function(a, b){
	                 return b.length-a.length;
                 });
              for (let x of t){%>
                <div class="tweets">
                  <div class="tweet-user-image">
                    <img src="/img/tweet-user.jpg" alt="">
                  </div>
                  <div class="tweet-content">
                    <p><%= x %></p>
                  </div>
                </div>
              <%}
            }%>
        </div>
      </div>
    </main>
<%- include('./partials/footer') %>
