<%- include('./partials/header') %>
  <body>
    <%# <header>
      <div class="logo">
        <img class = "logo-image" src="/img/logo1.jpg" alt="">
      </div>
      <nav>
        <div class="glyphicon glyphicon-menu-hamburger">
        </div>
      </nav>%>
      <nav class="navbar navbar-default">
        <div class="logo container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="" href="#"><img class = "logo-image" src="/img/logo1.jpg" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class=""><a href="#">Home</a></li>
              <li class=""><a href="/dashboard">Dashboard</a></li>
            </ul>
          </div>
        </div>
      </nav>

    </header>
    <main>
      <div class="main-content container">
        <span class="awesome-tweets">Awesome Tweets</span>
      </div>
    </main>
<%- include('./partials/footer') %>
